<div class="card mt-3">
    <div class="card-header">
        <div class="float-left">
            <h4>Clientes</h4>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo</button>
            <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover" *ngIf="clientes$ | async as clientes; else loading">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Loja</th>
                    <th>Nome Fantasia</th>
                    <th>Endereco</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Municipio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.loja}}</td>
                    <td>{{cliente.nomeFantasia}}</td>
                    <td>{{cliente.endereco}}</td>
                    <td>{{cliente.tipo}}</td>
                    <td>{{cliente.estado}}</td>
                    <td>{{cliente.municipio}}</td>
                    <td>
                        <span class=" float-right ">
                            <button class="btn btn-outline-warning mb-1 btn-sm " (click)="onEdit(cliente.id)">
                                Alterar
                            </button>

                            <button class="btn btn-outline-danger mb-1 btn-sm " (click)="onDelete(cliente)">
                                Remover
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #loading>
            <span>Carregando Clientes...</span>
        </ng-template>

    </div>
</div>

<ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Tem certeza que deseja remover esse cliente?</p>
        <button type="button " class="btn btn-default " (click)="onConfirmDelete()">Sim</button>
        <button type="button " class="btn btn-primary " (click)="onDeclineDelete()">Nao</button>
    </div>
</ng-template>