<div class="card mt-3">
    <div class="card-header">
        <div class="float-left">
            <h4>Form Cliente</h4>
        </div>

    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
            <div class="form-row">
                <div class="col-sm-1">
                    <label for="codigo">Código</label>
                    <input type="text" class="form-control" id="id" formControlName="id" [ngClass]="{'is-invalid': submitted && hasError('id')}" />
                </div>
                <div class="col-sm-4">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome" [ngClass]="{'is-invalid': submitted && hasError('nome')}" />
                </div>
                <div class="col-sm-1">
                    <label for="loja">Loja</label>
                    <input type="text" class="form-control" id="loja" formControlName="loja" [ngClass]="{'is-invalid': submitted && hasError('loja')}" />
                </div>
                <div class="col-sm-4">
                    <label for="nomeFantasia">Nome Fantasia</label>
                    <input type="text" class="form-control" id="nomeFantasia" formControlName="nomeFantasia" [ngClass]="{'is-invalid': submitted && hasError('nomeFantasia')}" />
                </div>
                <div class="col-sm-2">
                    <label for="tipo">Tipo</label>
                    <select class="form-control" id="tipo" formControlName="tipo" [ngClass]="{'is-invalid': submitted && hasError('tipo')}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="endereco">Endereco</label>
                    <input type="text" class="form-control" id="endereco" formControlName="endereco" [ngClass]="{'is-invalid': submitted && hasError('endereco')}" />
                </div>

                <div class="col-sm-4">
                    <label for="estado">Estado</label>
                    <select class="form-control" id="estado" formControlName="estado" [ngClass]="{'is-invalid': submitted && hasError('estado')}">
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                        <option value="EX">Estrangeiro</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="municipio">Municipio</label>
                    <input type="text" class="form-control" id="municipio" formControlName="municipio" [ngClass]="{'is-invalid': submitted && hasError('municipio')}" />
                </div>
            </div>
            <div style="margin-top: 10px" class="float-right">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
            </div>
        </form>
    </div>
</div>